<%- include ("./../../partials/header") %>

<div class="site__header--index">
    <img src="/img/covers/webCover-12.jpg" class="site__header--coverIMG">
    <h1 class="site__header--title">Om mig</h1>
</div>

<p class="view__text--paragraph">Hej, mitt namn är Daniel Andersson (daap19) och jag har abetat självständigt i det här projektet.</p>

<p class="view__text--paragraph">Resultatet ni ser är den examinerande uppgiften i kursen databas där vi lär oss bygga databaser som hateras med hjälp av Node.js och Express.js. Jag har även använt pluggin verktyg som bodyparser för att göra det lite enklare att hantera post förfrågningar mot barabasen och less som är en preprocessor för enklare översikt och lite funktionalitet vid skrivning av cascading stylesheet (css). I den här webbaplikationen kan ni hantera fiktiva produkter som ni kan använda för att lägga till ordrar. Ni kan även skapa ordrar för de kunder som finns i kungregistret och lägga produkter till deras ordrar. Det går om man vill radera samtliga existerand ordrar. När en order är klar och den fiktiva kunden vill kan hen betälla den samt se en översikt av ordern.</p>

<p class="view__text--paragraph">Bara för att vara tydlig så är samtliga fotografier som används i webbklienten tagna av mig och där av håller jag rättigheterna att använda dem som jag önskar. Det ska även poänteras att kunder, ordrar, produkter eller andra detaljer ni finner på webbplatsen är fiktiva och fyller endast syftet som exempelt material för att kunna hantera den databas somm ligger bakom denna eshop.</p>

<p class="view__text--paragraph">Hoppas ni gillar min Eshop & stort tack för en mycket trevlig kurs!</p>

<%- include ("./../../partials/footer") %>
