<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/favicon.ico">
    <title>Daniels Mega Movie Palace.</title>
</head>
<body>
    <header> 
    </header>
    <nav class="navigation">
        <a class="navigation__button" href="./index">All</a>
        <a class="navigation__button" href="./create">Create</a>
    </nav>
