// --- VARIABLES ---
// Colors:
@color__white: #fff;
@color__black: #000;
@color__grey--light: #888;
@color__grey: #555;
@color__grey--dark: #222;
@color__primary--light: #46bddb;
@color__primary--standard: #1289A7;
@color__primary--dark: #0b596d;
@color__secondary--light: #ffd864;
@color__secondary--standard: #FFC312;
@color__secondary--dark: rgb(207, 155, 0);

// Colors for fonts:
@color__font--light: #f5f5f5;
@color__font--dark: #333;

// Font:
@font__size--p: 1.6rem;
@font__size--h1: 3.6rem;
@font__size--h2: 3rem;
@font__size--h3: 2.4rem;
@font__size--h4: 1.8rem;
@font__size--footer: 1.2rem;
@font__weight--header: 400;
@font__weight--p: 200;
@font__size--button: 2rem;

// Margins & Paddings:
@paragraph__margin--overUnder: 2rem;
@padding__content--sides: 0 20%;
@padding__elements--around: 2rem;
@padding__button: 0.75rem 1.5rem;
@margin__button: 1rem 2rem 1rem 0;

// Width & Height:
@width--full: 100%;
@width--threeQuarters: 75%;
@width--half: 50%;
@width--quarter: 25%;
@header--height: 30rem;
@button__multi--width: 10rem;

// Animation(time, etc.):
@animation__time: 0.25s;

// Borders:
@border__radius: 0.3rem;
@border__thinckness: 0.05rem;

// Images:
@image--width: 30rem;

// --- MIXINS ---
.bordered--light {
    border: @border__thinckness solid @color__font--light;
    border-radius: @border__radius;
}

.bordered--dark {
    border: @border__thinckness solid @color__font--dark;
    border-radius: @border__radius;
}

.bordered--primary{
    border: @border__thinckness solid @color__primary--standard;
    border-radius: @border__radius;
}

.button--click {   
    transform: translateY(1px);
    background-color: @color__primary--light;
    border: @border__thinckness solid @color__primary--light;
}

// --- BASICS ---
* {
    overflow: auto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    font-family: 'Roboto Slab', serif;
    font-size: 62.5%;
    overflow: auto;
    
    body {
        width: 100%;
        font-size: @font__size--p;
        color: @color__font--dark;
        background-color: @color__white;

        h1 {
            font-size: @font__size--h1;
            font-weight: @font__weight--header;
            margin: @font__size--h1 0;
        }

        h2 {
            font-size: @font__size--h2;
            font-weight: @font__weight--header;
            margin: @font__size--h2 0;
        }

        h3 {
            font-size: @font__size--h3;
            font-weight: @font__weight--header;
            margin: @font__size--h3 0;
        }

        h4 {
            font-size: @font__size--h4;
            font-weight: @font__weight--header;
            margin: @font__size--h4 0;
        }

        p {
            font-size: @font__size--p;
            font-weight: @font__weight--p;
            margin: @font__size--p 0;
        }
    }
}

.site {
    // --- HEADER ---
    &__header {
        &--outer {
            display: block;
            width: @width--full;
            height: @header--height;
            
            .cover__image {
                width: 100vw;
                height: @header--height;
                position: absolute;
                background: url(../img/bg_image-5.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                z-index: -100;
            }
        }

        &--inner {
            width: @width--full;
            height: @header--height;
            background: transparent;
            overflow: hidden;

            .site__logo {
                display: inline-block;
                width: 10rem;
                padding: @padding__elements--around;
            }

            .site__title {
                color: @color__font--light;
                font-size: @font__size--h1;
                padding: 0;
            }

            .site__slogan {
                display: block;
                font-style: italic;
                color: @color__font--light;
                padding-left: 10.5rem;
            }
        }
    }

    &__footer {
        display: block;
        bottom: 0;
        width: @width--full;
        height: auto;
        padding-bottom: 1rem;
        color: @color__font--light;
        background-color: @color__grey--dark;
        font-size: @font__size--footer;
        font-weight: @font__weight--p;
        outline: none;

        &--links {
            text-align: center;
            width: 50%;
            margin: 0 auto;
        }
        &--pageLoader {
            text-align: center;
            width: 50%;
            margin: 0 auto;
        }
    }

    &__byline--outer {
        display: block;
        width: @width--full;
        padding: @padding__content--sides;
        margin: 2rem auto;
    }

    &__byline--inner {
        display: flex;
        flex-direction: row;
        padding: @padding__elements--around;
        width: @width--full;
        .bordered--dark();

        figure {
            display: block;
            width: @width--half;
            padding: @padding__elements--around;
            text-align: center;

            figcaption {
                text-align: center;
                font-size: @font__size--p;
                font-weight: @font__weight--p;
            }

            .image__byline {
                border-radius: 50%;
            }
        }
    
        &--text {
            display: inline-block;
            width: @width--full;
            padding: @padding__elements--around;
        }
    }
}

// --- NAVIGATION ---
.navbar {
    display: block;
    width: @width--full;
    height: auto;
    padding: @padding__content--sides;
    background-color: @color__grey--dark;

    &__multi {
        display: block;
        width: @width--full;
        padding: @padding__content--sides;

        li {
            display: inline-block;
        }
    }

    &__button {

        &--NB {
            cursor: pointer;
            display: inline-block;
            font-size: @font__size--button;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            width: 15rem;
            padding: @padding__button;
            margin: @margin__button;
            color: @color__font--light;
            background-color: @color__grey--dark;
            .bordered--light();
            transition: all @animation__time;

            &:hover {
                color: @color__grey--dark;
                background-color: @color__white;
            }

            // &:active {

            // }
        }

        &--selected {
            color: @color__grey--dark;
            background-color: @color__white;
        }
        
        &--multi {
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            width: @button__multi--width;
            margin: 0.5rem auto;
            padding: 0.5rem 1.5rem;
            color: @color__font--dark;
            background-color: @color__white;
            .bordered--dark();
            transition: all @animation__time;
    
            &:hover {
                color: @color__white;
                background-color: @color__primary--standard;
                .bordered--primary();
            }
    
            &:active {
                .button--click();
            }
    
            &--selected {
                color: @color__white;
                background-color: @color__primary--standard;
                .bordered--primary();
            }
        }
    }

}

// --- CONTENT ---
.content {

    &__report {
        width: @width--full;
        padding: @padding__content--sides;
    }

    &__me {
        width: @width--full;
        padding: @padding__content--sides;
    }

    &__about {
        width: @width--full;
        padding: @padding__content--sides;
    }
}

// --- IMAGES ---
img[src*="#image__me"] {
    width: @image--width;
}

img[src*="#image__about"] {
    width: @image--width;
}

// --------------------------------------------------
// --- QUERIES ---
// --------------------------------------------------

// --- MOBILE DEVICES (portrait)
@media (max-width: 600px) {
    .site {
        // --- HEADER ---
        &__header {
            padding: 0 3%;

            &--inner {
                padding: 0 3%;

                .site__logo {
                    padding: @padding__elements--around;
                }

                .site__slogan {
                    padding-left: 10.5rem;
                }
            }
        }
    
        &__footer {    
            &--links {
                width: 50%;
                margin: 0 auto;
            }
            &--pageLoader {
                width: 50%;
                margin: 0 auto;
            }
        }
    
        &__byline--outer {
            margin: 2rem auto;
        }
    
        &__byline--inner {
            flex-direction: row;
            padding: @padding__elements--around;
            .bordered--dark();
    
            figure {
                padding: @padding__elements--around;
            }

            &--text {
                padding: @padding__elements--around;
            }
        }
    }

    // --- NAVIGATION ---
    .navbar {
        padding: 0 5%;

        &__multi {
            width: @width--full;
            padding: @padding__content--sides;
        }

        &__button {

            &--NB {
                width: 15rem;
                padding: @padding__button;
                margin: @margin__button;
            }
            
            &--multi {
                width: @button__multi--width;
                margin: 0.5rem auto;
                padding: 0.5rem 1.5rem;
            }
        }
    }
}

// --- MOBILE DEVICES (landscape)
@media (min-width: 601px) and (max-width: 840px) {
    @padding__content--sides: 0 5%;
}

// --- TABLET DEVICES (protrait)
@media (min-width: 841px) and (max-width: 960px) {
    @padding__content--sides: 0 10%;
}

// --- TABLET DEVICES (landscape)
@media (min-width: 961px) and (max-width: 1280px) {
    @padding__content--sides: 0 15%;
}

// --- DESKTOP DEVICES (full size)
@media (min-width: 1281px) {
    @padding__content--sides: 0 20%;
}
