// --- IMPORT FILES ---
@import "LESS/variables.less";
@import "LESS/mixins.less";
@import "LESS/mixins.less";



// --- BASICS ---
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    width: 100vw;
    font-family: 'Roboto Slab', serif;
    font-size: 62.5%;
    overflow: auto;
    
    body {
        overflow: auto;
        width: 100%;
        font-size: @font__size--p;
        color: @color__font--dark;
        background-color: @color__white;

        h1 {
            overflow: auto;
            font-size: @font__size--h1;
            font-weight: @font__weight--header;
            padding: @font__size--h1 0;
        }

        h2 {
            overflow: auto;
            font-size: @font__size--h2;
            font-weight: @font__weight--header;
            padding: @font__size--h2 0;
        }

        h3 {
            overflow: auto;
            font-size: @font__size--h3;
            font-weight: @font__weight--header;
            padding: @font__size--h3 0;
        }

        h4 {
            overflow: auto;
            font-size: @font__size--h4;
            font-weight: @font__weight--header;
            padding: @font__size--h4 0;
        }

        p {
            overflow: auto;
            font-size: @font__size--p;
            font-weight: @font__weight--p;
            padding: (@font__size--p / 2) 0;
        }
    }
}

.site {
    // --- HEADER ---
    &__header {
        &--outer {
            display: block;
            width: @width--full;
            height: @header--height;
            
            .cover__image {
                width: 100vw;
                height: @header--height;
                position: absolute;
                background: url(../img/bg_image-5.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                z-index: -100;
            }
        }

        &--inner {
            display: flex;
            flex-direction: column;
            height: @header--height;
            background: transparent;
            

            .site__logo {
                display: block;
                top: 15rem;
                width: 10rem;
                height: auto;
                color: #fff;
                padding: @padding__elements--around;
            }

            .site__title {
                display: block;
                color: @color__font--light;
                font-size: @font__size--h1;
                height: 5rem;
                padding: 0;
            }

            .site__slogan {
                display: block;
                height: 5rem;
                font-style: italic;
                color: @color__font--light;
            }

            // RESPONSIVE:
            .responsive(@minWidth--phonePortrait, @maxWidth--phonePortrait, {
                padding: @padding__content--sides1;

                .site__logo {
                    display: block;
                    margin: 6rem auto 1rem;
                }

                .site__title,
                .site__slogan {
                    text-align: center;
                }
            });

            .responsive(@minWidth--phoneLandscape, @maxWidth--phoneLandscape, {
                padding: @padding__content--sides2;

                .site__logo {
                    display: block;
                    margin: 6rem auto 1rem;
                }

                .site__title,
                .site__slogan {
                    text-align: center;
                }
            });
            
            .responsive(@minWidth--tabletPortrait, @maxWidth--tabletPortrait, {
                padding: @padding__content--sides3;

                .site__logo {
                    display: inline-block;
                    margin: 6rem 0 1rem;
                }

                .site__title,
                .site__slogan {
                    text-align: left;
                }
            });

            .responsive(@minWidth--desktopSmall, @maxWidth--desktopSmall, {
                padding: @padding__content--sides4;

                .site__logo {
                    display: inline-block;
                    margin: 6rem 0 1rem;
                }

                .site__title,
                .site__slogan {
                    text-align: left;
                }
            });

            .responsive(@minWidth--desktopLarge, @maxWidth--desktopLarge, {
                padding: @padding__content--sides4;

                .site__logo {
                    display: inline-block;
                    margin: 6rem 0 1rem;
                }

                .site__title,
                .site__slogan {
                    text-align: left;
                }
            });

            
        }
    }

    &__footer {
        display: block;
        bottom: 0;
        width: @width--full;
        height: auto;
        padding-bottom: 1rem;
        color: @color__primary--standard;
        background-color: @color__grey--dark;
        font-size: @font__size--footer;
        font-weight: @font__weight--p;
        outline: none;

        &--links {
            text-align: center;
            width: 50%;
            margin: 0 auto;
            overflow-y: hidden;

            // a .navi__button {
            //     display: inline-block;
            //     text-decoration: none;
            //     text-transform: uppercase;
            //     text-align: center;
            //     width: @button__multi--width;
            //     margin: 0.25rem auto;
            //     padding: 0.3rem 1rem;
            //     color: @color__font--dark;
            //     background-color: @color__white;
            //     .bordered--primary();
            //     transition: all @animation__time;
            // }
        }
        &--pageLoader {
            text-align: center;
            width: 50%;
            margin: 0 auto;
        }
    }

    &__byline--outer {
        display: block;
        margin: 4rem auto;

        // RESPONSIVE:
        .responsive(@minWidth--phonePortrait, @maxWidth--phonePortrait, {
            width: 95%;
            margin: @padding__content--sides1;
        });

        .responsive(@minWidth--phoneLandscape, @maxWidth--phoneLandscape, {
            width: @width--full;
            padding: @padding__content--sides2;
        });
        
        .responsive(@minWidth--tabletPortrait, @maxWidth--tabletPortrait, {
            width: @width--full;
            padding: @padding__content--sides3;
        });

        .responsive(@minWidth--desktopSmall, @maxWidth--desktopSmall, {
            width: @width--full;
            padding: @padding__content--sides4;
        });

        .responsive(@minWidth--desktopLarge, @maxWidth--desktopLarge, {
            width: @width--full;
            padding: @padding__content--sides4;
        });
    }

    &__byline--inner {
        display: flex;
        width: @width--full;
        padding: @padding__elements--around;
        .bordered--dark();
        margin: 0 auto;

        // RESPONSIVE:
        .responsive(@minWidth--phonePortrait, @maxWidth--phonePortrait, {
            flex-direction: column;
            width: @innerWidth--2;
                &--text {
                    display: block;
            }
        });

        .responsive(@minWidth--phoneLandscape, @maxWidth--phoneLandscape, {
            flex-direction: row;
            width: @innerWidth--1;
                &--text {
                    display: block;
            }
        });
        
        .responsive(@minWidth--tabletPortrait, @maxWidth--tabletPortrait, {
            flex-direction: row;
            width: @innerWidth--1;
                &--text {
                    display: inline-block;
            }
        });

        .responsive(@minWidth--desktopSmall, @maxWidth--desktopSmall, {
            flex-direction: row;
            width: @innerWidth--1;
        });

        .responsive(@minWidth--desktopLarge, @maxWidth--desktopLarge, {
            flex-direction: row;
            width: @innerWidth--2;
        });

        figure {
            display: block;
            width: @width--full;
            padding: @padding__elements--around;
            text-align: center;

            figcaption {
                text-align: center;
                font-size: @font__size--p;
                font-weight: @font__weight--p;
                height: auto;
                overflow-y: hidden;
            }

            .image__byline {
                border-radius: 50%;
            }
        }
    
        &--text {
            display: inline-block;
            width: @width--full;
            padding: @padding__elements--around;
        }
    }
}

// --- NAVIGATION ---
.navbar {
    &--outer {
        width: @width--full;
        height: 6.5rem;
        background-color: @color__grey--dark;
        overflow: hidden;
    }
    
    &--inner {
        display: block;
        background-color: transparent;
        overflow-y: hidden;

        // RESPONSIVE:
        .responsive(@minWidth--phonePortrait, @maxWidth--phonePortrait, {
            padding: @padding__content--sides1;
            text-align: center;
            visibility: hidden;
        });

        .responsive(@minWidth--phoneLandscape, @maxWidth--phoneLandscape, {
            display: block;
            padding: @padding__content--sides2;
            text-align: center;
        });

        .responsive(@minWidth--tabletPortrait, @maxWidth--tabletPortrait, {
            padding: @padding__content--sides3;
            text-align: left;
        });

        .responsive(@minWidth--desktopSmall, @maxWidth--desktopSmall, {
            padding: @padding__content--sides4;
            text-align: left;
        });

        .responsive(@minWidth--desktopLarge, @maxWidth--desktopLarge, {
            padding: @padding__content--sides4;
            text-align: left;
        });
    }

    &__multi {
        display: block;
        width: @width--full;
        height: auto;
        overflow: auto;
        
        // RESPONSIVE:
        .responsive(@minWidth--phonePortrait, @maxWidth--phonePortrait, {
            padding: @padding__content--sides1;
            text-align: center;
        });
        
        .responsive(@minWidth--phoneLandscape, @maxWidth--phoneLandscape, {
            padding: @padding__content--sides2;
            text-align: center;
        });
        
        .responsive(@minWidth--tabletPortrait, @maxWidth--tabletPortrait, {
            padding: @padding__content--sides3;
            text-align: left;
        });

        .responsive(@minWidth--desktopSmall, @maxWidth--desktopSmall, {
            padding: @padding__content--sides4;
            text-align: left;
        });

        .responsive(@minWidth--desktopLarge, @maxWidth--desktopLarge, {
            padding: @padding__content--sides4;
            text-align: left;
        });

        ul {
            overflow-y: hidden;

            li {
                display: inline-block;
            }
        }
    }

    &__button {

        &--NB {
            cursor: pointer;
            display: inline-block;
            font-size: @font__size--button;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            width: 15rem;
            padding: @padding__button;
            margin: @margin__button;
            color: @color__font--light;
            background-color: @color__grey--dark;
            .bordered--light();
            transition: all @animation__time;

            &:hover {
                color: @color__grey--dark;
                background-color: @color__white;
            }

            // &:active {

            // }
        }

        &--selected {
            color: @color__grey--dark;
            background-color: @color__white;
        }
        
        &--multi {
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            width: @button__multi--width;
            margin: 0.25rem auto;
            padding: 0.3rem 1rem;
            color: @color__font--dark;
            background-color: @color__white;
            .bordered--dark();
            transition: all @animation__time;
    
            &:hover {
                color: @color__white;
                background-color: @color__primary--standard;
                .bordered--primary();
            }
    
            &:active {
                .button--click();
            }
    
            &--selected {
                color: @color__white;
                background-color: @color__primary--standard;
                .bordered--primary();
            }
        }
    }

}



// --- CONTENT ---
.content {

    &__report,
    &__me,
    &__about {
        width: @width--full;

        // RESPONSIVE:
        .responsive(@minWidth--phonePortrait, @maxWidth--phonePortrait, {
            padding: @padding__content--sides1;
        });

        .responsive(@minWidth--phoneLandscape, @maxWidth--phoneLandscape, {
            padding: @padding__content--sides2;
        });
        
        .responsive(@minWidth--tabletPortrait, @maxWidth--tabletPortrait, {
            padding: @padding__content--sides3;
        });

        .responsive(@minWidth--desktopSmall, @maxWidth--desktopSmall, {
            padding: @padding__content--sides4;
        });

        .responsive(@minWidth--desktopLarge, @maxWidth--desktopLarge, {
            padding: @padding__content--sides4;
        });
    }
}

// --- IMAGES ---
img[src*="#image__me"] {
    width: @image--width;
}

img[src*="#image__about"] {
    width: @image--width;
}
