.bordered--light {
  border: 0.05rem solid #f5f5f5;
  border-radius: 0.3rem;
}
.bordered--dark {
  border: 0.05rem solid #333;
  border-radius: 0.3rem;
}
.bordered--primary {
  border: 0.05rem solid #1289A7;
  border-radius: 0.3rem;
}
.button--click {
  transform: translateY(1px);
  background-color: #46bddb;
  border: 0.05rem solid #46bddb;
}
* {
  overflow: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  overflow: auto;
}
html body {
  width: 100%;
  font-size: 1.6rem;
  color: #333;
  background-color: #fff;
}
html body h1 {
  font-size: 3.6rem;
  font-weight: 500;
}
html body h2 {
  font-size: 3rem;
  font-weight: 500;
}
html body h3 {
  font-size: 2.4rem;
  font-weight: 500;
}
html body h4 {
  font-size: 1.8rem;
  font-weight: 500;
}
.site__header--outer {
  display: block;
  width: 100%;
  height: 15rem;
  background-color: #1289A7;
}
.site__header--inner {
  width: 100%;
  padding: 0 20%;
}
.site__header--inner .site__logo {
  display: inline-block;
  width: 10rem;
  padding: 2rem;
}
.site__header--inner .site__title {
  font-size: 3.2rem;
  padding: 0;
}
.site__header--inner .site__slogan {
  display: block;
  font-style: italic;
  padding-left: 10.5rem;
}
.site__footer {
  font-size: 1.2rem;
}
.site__footer--links {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.site__footer--pageLoader {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
footer {
  display: block;
  bottom: 0;
  width: 100%;
  height: 15rem;
  color: #f5f5f5;
  background-color: #222;
}
.navbar {
  display: block;
  width: 100%;
  height: auto;
  padding: 0 20%;
  background-color: #222;
}
.navbar__multi {
  display: block;
  width: 100%;
  padding: 0 20%;
}
.navbar__multi li {
  display: inline-block;
}
.navbar__button--NB {
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  margin: 1rem 2rem 1rem 0;
  color: #f5f5f5;
  background-color: #222;
  border: 0.05rem solid #f5f5f5;
  border-radius: 0.3rem;
  transition: all 0.25s;
}
.navbar__button--NB:hover {
  color: #222;
  background-color: #fff;
}
.navbar__button--selected {
  color: #222;
  background-color: #fff;
}
.navbar__button--multi {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  width: 10rem;
  margin: 0.5rem auto;
  padding: 0.5rem 1.5rem;
  color: #333;
  background-color: #fff;
  border: 0.05rem solid #333;
  border-radius: 0.3rem;
  transition: all 0.25s;
}
.navbar__button--multi:hover {
  color: #fff;
  background-color: #1289A7;
  border: 0.05rem solid #1289A7;
  border-radius: 0.3rem;
}
.navbar__button--multi:active {
  transform: translateY(1px);
  background-color: #46bddb;
  border: 0.05rem solid #46bddb;
}
.navbar__button--multi--selected {
  color: #fff;
  background-color: #1289A7;
  border: 0.05rem solid #1289A7;
  border-radius: 0.3rem;
}
.content__report {
  width: 100%;
  padding: 0 20%;
}
.content__me {
  width: 100%;
  padding: 0 20%;
}
.content__about {
  width: 100%;
  padding: 0 20%;
}
img[src*="#image__me"] {
  width: 30rem;
}
img[src*="#image__about"] {
  width: 30rem;
}
