<%- include("header", {title:title}); %>

<h1 class="view__text--header">Welcome to the bank</h1>

<p class="view__text--paragraph">We are the greates bank online dealing with imaginary money.</p>

<p class="view__text--paragraph">How can we help you?</p>

<p class="view__text--paragraph"><i>To output the content of the account table.</i></p>

<p class="view__text--paragraph">
    <a href="/bank/balance" class="CRUD__smallBTN CRUD__smallBTN--link">Account balance</a>
</p>

<%- include("./footer.ejs") %>
