<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Cascading Style Sheet -->
        <link rel="stylesheet" href="css/style.css">

        <!-- Site title -->
        <title>Teachers</title>
    </head>
    <body>
        <nav>
            <a href="/">Hem</a> |
            <a href="/teachers">Teachers</a> |
            <a href="/today">Today</a> |
            <a href="/about">About</a>
        </nav>
