<%- include ("./../partials/header") %>

<h1 class="view__text--header">Välkommen till Exam</h1>

<p class="view__text--paragraph">Det här är en examinerade tentamensuppgift för kursen Databas DV1606. Tentamen är utförd av Daniel Andersson, daap19. Här kan ni se olika typer av brott som divers fiktiva personer har registrerats göra.</p>

<p class="view__text--paragraph">Ni kan se den här välkomst sidan, visa hela loggen med information och söka bland informationen. </p>

<%- include ("./../partials/footer") %>
