        <footer>
            <p>Skapad av Daniel Andersson, daap19.</p>
            <p>Genomgång kursmoment 5 i kursen Databas vid BTH VT2020 LP3.</p>
        </footer>

        <!-- <script type="text/javascript" src="/js/main.js"></script> -->
    </body>
</html>
