        <footer>
            <p>Copyright &copy; Daniel Investmet Group Super Duper Mega Bank Inc.</p>
        </footer>

        <script type="text/javascript" src="/js/main.js"></script>
    </body>
</html>
