<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/favicon.ico">
    <title>Daniel Investmet Group Super Duper Mega Bank Inc.</title>
</head>
<body>
    <header> 
    </header>
    <nav class="navigation">
        <a class="navigation__button" href="./index">Hem</a>
        <a class="navigation__button" href="./balance">Balance</a>
        <a class="navigation__button" href="./move-to-eva">Transaction to Eva</a>
        <a class="navigation__button" href="./move-to-adam">Transaction to Adam</a>
    </nav>
