<%- include("./header.ejs") %>

<h1>Welcome to the bank</h1>

<p>Transaction complete.</p>
<p>Tack för pengarna Adam!</p>
<p>//Adam</p>

<ul>
    <li><a href="balance">View account balance</a></li>
</ul>

<%- include("./footer.ejs") %>
