<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.min.css">
    <link rel="icon" href="/favicon.ico">
    <title>Daniels Eshop!</title>
</head>
<body>
    <header> 
    </header>
    <nav class="navigation">
        <a class="navigation__button" href="/exam/index">Hem</a>
        <a class="navigation__button" href="/exam/visa">Visa</a>
    </nav>
