<%- include ("./../partials/header") %>

<div class="site__header--index">
    <img src="/img/covers/webCover-7.jpg" class="site__header--coverIMG">
    <h1 class="site__header--title">Välkommen till E-shopen</h1>
</div>

<p class="view__text--paragraph">Välkommen till min E-shop som är den examinerande uppgiften i kursen databas. Här kan ni på ett fiktivt sätt checka alla produkter och lägga ordrar utifrån vad ni gillar. De intressanta delarna är inte hur den ser ut men den bakomliggande databasen som hateras med hjälp av Node.js och Express.js.</p>

<%- include ("./../partials/footer") %>
