        <footer class="site__footer">
            <p class="site__footer--paragraph">Eshop DV1606 - Databasteknik.</p>
            <p class="site__footer--paragraph">Projektet är utfört av Daniel Andersson.</p>
        </footer>

        <!-- <script type="text/javascript" src="/js/main.js"></script> -->
    </body>
</html>
