<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Minified Stylesheet -->
    <link rel="stylesheet" href="/css/style.min.css">

    <!-- Favicon? -->
    <link rel="icon" href="/favicon.ico">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Pacifico&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&display=swap" rel="stylesheet"> 
    <title>Daniels Eshop!</title>
</head>
<body>
    <header class="site__header">
        <nav class="navigation">
            <a class="navigation__button" href="/eshop/index">Hem</a>
            <a class="navigation__button" href="/eshop/product">Produkter</a>
            <a class="navigation__button" href="/eshop/productCategories">Kategorier</a>
            <a class="navigation__button" href="/eshop/createProduct">Skapa produkt</a>
            <a class="navigation__button" href="/eshop/customer">Kunder</a>
            <a class="navigation__button" href="/eshop/order">Ordrar</a>
            <a class="navigation__button" href="/eshop/logProducts">Log</a>
            <a class="navigation__button" href="/eshop/about">Om</a>
        </nav>
    </header>

