        <footer class="site__footer">
            <p class="site__footer--paragraph">Eshop DV1606 - Databasteknik.</p>
            <p class="site__footer--paragraph">Ett databasprojektet av Daniel Andersson (daap19) utfört 2020.</p>
        </footer>
    </body>
</html>
