/**
 * Eshop
 * Daniel Andersson (daap19)
 * Module: buttons.less
*/
/**
 * Eshop
 * Daniel Andersson (daap19)
 * Module: variables.less
*/
/**
 * Eshop
 * Daniel Andersson (daap19)
 * Module: mixins.less
*/
.bordered--light {
  border: 0.05rem solid #f5f5f5;
  border-radius: 0.3rem;
}
.bordered--dark {
  border: 0.05rem solid #333;
  border-radius: 0.3rem;
}
.bordered--primary {
  border: 0.05rem solid #406e73;
  border-radius: 0.3rem;
}
.button--hover:hover {
  color: #333;
  background-color: #406e73;
  border: 0.05rem solid #406e73;
}
.button--click {
  transform: translateY(1px);
  background-color: #46bddb;
  border: 0.05rem solid #46bddb;
}
.navigation__button {
  width: auto;
  padding: 0.5rem;
  font-size: 1rem;
  color: #406e73;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: 0.2s all;
}
.navigation__button:hover {
  color: #46bddb;
}
.CRUD__formBTN {
  width: 100%;
  margin: 1rem auto;
  padding: 0.75rem 1rem;
  display: block;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0.3rem;
  transition: 0.2s all;
}
.CRUD__formBTN:active {
  transition: translateY(0.04rem);
}
.CRUD__formBTN--create {
  color: #388e3c;
  background-color: #c8e6c9;
  border: 0.01rem solid #388e3c;
}
.CRUD__formBTN--create:hover {
  color: #fff;
  background-color: #388e3c;
}
.CRUD__formBTN--create:active,
.CRUD__formBTN--create:focus {
  color: #fff;
  background-color: #4caf50;
  border: 0.01rem solid #4caf50;
}
.CRUD__formBTN--update {
  color: #fbc02d;
  background-color: #fff;
  border: 0.01rem solid #fbc02d;
}
.CRUD__formBTN--update:hover {
  color: #fff;
  background-color: #fbc02d;
}
.CRUD__formBTN--update:active,
.CRUD__formBTN--update:focus {
  color: #fff;
  background-color: #fdd835;
  border: 0.01rem solid #fdd835;
}
.CRUD__formBTN--delete {
  color: #e53935;
  background-color: #ffcdd2;
  border: 0.01rem solid #e53935;
}
.CRUD__formBTN--delete:hover {
  color: #fff;
  background-color: #e53935;
}
.CRUD__formBTN--delete:active,
.CRUD__formBTN--delete:focus {
  color: #fff;
  background-color: #e53935;
  border: 0.01rem solid #e53935;
}
.CRUD__smallBTN {
  width: 100%;
  display: inline-block;
  padding: 0.25rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 0.3rem;
  transition-property: color, background-color, box-shadow, transform;
  transition-duration: 0.25s, 0.25s, 0.25s, 0.15s;
  transition-timing-function: ease;
}
.CRUD__smallBTN--update {
  color: #fbc02d;
  background-color: #fff;
  border: 0.01rem solid #fbc02d;
}
.CRUD__smallBTN--update:hover {
  color: #fff;
  background-color: #fbc02d;
  box-shadow: inset -0.2rem -0.3rem 0.5rem #f9a825, inset 0.05rem 0.1rem 0.3rem #ffeb3b;
  border: 0.01rem solid #fbc02d;
}
.CRUD__smallBTN--update:active {
  color: #fff;
  background-color: #fdd835;
  box-shadow: inset 0.25rem 0.35rem 0.5rem #f9a825;
  border: 0.01rem solid #fdd835;
  transform: translateY(0.04rem);
}
.CRUD__smallBTN--delete {
  padding: 0.25rem 0.5rem;
  color: #e53935;
  background-color: #ffcdd2;
  border: 0.01rem solid #e53935;
}
.CRUD__smallBTN--delete:hover {
  color: #fff;
  background-color: #e53935;
  box-shadow: inset -0.2rem -0.3rem 0.5rem #d32f2f, inset 0.05rem 0.1rem 0.3rem #f44336;
  border: 0.01rem solid #e53935;
}
.CRUD__smallBTN--delete:active {
  color: #fff;
  background-color: #f44336;
  box-shadow: inset 0.25rem 0.35rem 0.5rem #d32f2f;
  border: 0.01rem solid #f44336;
  transform: translateY(0.04rem);
}
.CRUD__smallBTN--link {
  padding: 0.25rem 0.5rem;
  color: #0097a7;
  background-color: #e0f7fa;
  border: 0.01rem solid #0097a7;
}
.CRUD__smallBTN--link:hover {
  color: #fff;
  background-color: #0097a7;
  box-shadow: inset -0.2rem -0.3rem 0.5rem #00838f, inset 0.05rem 0.1rem 0.3rem #00acc1;
  border: 0.01rem solid #0097a7;
}
.CRUD__smallBTN--link:active {
  color: #fff;
  background-color: #00acc1;
  box-shadow: inset 0.25rem 0.35rem 0.5rem #00838f;
  border: 0.01rem solid #00acc1;
  transform: translateY(0.04rem);
}
.CRUD__smallBTN--create {
  display: inline-block;
  color: #388e3c;
  background-color: #e0f7fa;
  border: 0.01rem solid #388e3c;
}
.CRUD__smallBTN--create:hover {
  color: #fff;
  background-color: #388e3c;
  box-shadow: inset -0.2rem -0.3rem 0.5rem #1c7a21, inset 0.05rem 0.1rem 0.3rem #1c7a21;
  border: 0.01rem solid #388e3c;
}
.CRUD__smallBTN--create:active {
  color: #fff;
  background-color: #4caf50;
  box-shadow: inset 0.25rem 0.35rem 0.5rem #388e3c;
  border: 0.01rem solid #1c7a21;
  transform: translateY(0.04rem);
}
.produkts__searchForm--BTN {
  width: 10%;
  display: inline-block;
  padding: 0.5rem 0.75rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 0.3rem;
  transition-property: color, background-color, box-shadow, transform;
  transition-duration: 0.25s, 0.25s, 0.25s, 0.15s;
  transition-timing-function: ease;
  color: #388e3c;
  background-color: #fff;
  border: 0.01rem solid #388e3c;
}
.produkts__searchForm--BTN:hover {
  color: #fff;
  background-color: #388e3c;
  box-shadow: inset -0.2rem -0.3rem 0.5rem #1c7a21, inset 0.05rem 0.1rem 0.3rem #5ecf62;
  border: 0.01rem solid #388e3c;
}
.produkts__searchForm--BTN:active {
  color: #fff;
  background-color: #4caf50;
  box-shadow: inset 0.25rem 0.35rem 0.5rem #1c7a21;
  border: 0.01rem solid #4caf50;
  transform: translateY(0.04rem);
}
