/**
 * Eshop
 * Daniel Andersson (daap19)
 * Module: tables.less
*/



@import "variables.less";
@import "mixins.less";

.productTable {
    display: block;
    width: 100%;
    padding: 2rem 15%;
    border: collapse;

    &__tableHeader {
        padding: 0.5rem;
        font-size: @font__size[tableHeader];
        font-weight: @font__weight[subStandard];
        text-transform: uppercase;
        text-align: center;
        color: @color__white;
        background-color: @color__primary--standard;
    }

    &__TDs {
        height: 100%;
        width: 100%;
        padding: 0.5rem;
        background-color: @color__white;

        &--id {
            width: 2.5%;
            text-align: center;
        }

        &--customerID {
            width: 2.5%;
            text-align: center;
        }

        &--name {
            width: 10%;
            text-align: left;
        }

        &--phone {
            width: 2.5%;
            text-align: right;
        }
        
        &--email {
            width: 5%;
            text-align: left;
        }

        &--pickingL {
            width: 2.5%;
            text-align: center;
        }
        
        &--info {
            width: 20%;
            text-align: left;
        }
        
        &--price {
            width: 5%;
            text-align: center;
        }

        &--types {
            width: 5%;
            text-align: left;
        }

        &--amount {
            width: 5%;
            text-align: right;
        }

        &--items {
            width: 3%;
            text-align: center;

            &Input {
                width: 100%;
                padding: 0.1rem;
                text-align: right;
                border-radius: 0.3rem;
            }
        }

        &--action {
            text-align: center;
            display: flex;
            flex-flow: nowrap row;
            justify-content: space-around;
            gap: 1rem;
        }

        &--addOrder {
            width: 5%;
            text-align: center;
        }

        &--addProduct {
            width: 10%;
            text-align: center;
        }
    }
}
