/**
 * Eshop
 * Daniel Andersson (daap19)
 * Module: tables.less
*/



@import "variables.less";
@import "mixins.less";

.productTable {
    display: block;
    width: 100%;
    padding: 2rem 15%;
    border: collapse;

    &__tableHeader {
        padding: 0.5rem;
        font-size: @font__size[tableHeader];
        font-weight: @font__weight[subStandard];
        text-transform: uppercase;
        text-align: center;
        color: @color__font--light;
        background-color: @color__primary--standard;
    }

    &__tableData {
        height: 100%;
        width: 100%;
        padding: 0.5rem;
        background-color: @color__white;

        &--id {
            width: 2.5%;
            text-align: center;
        }

        &--name {
            width: 10%;
            text-align: left;
        }

        &--types {
            width: 5%;
            text-align: left;
        }

        &--info {
            width: 20%;
            text-align: left;
        }
        
        &--price {
            width: 5%;
            text-align: center;
        }

        &--amount {
            width: 5%;
            text-align: right;
        }

        &--items {
            width: 3%;
            text-align: center;

            &Input {
                width: 100%;
                padding: 0.1rem;
                text-align: right;
                border-radius: 0.3rem;
            }
        }

        &--action {
            text-align: center;
            display: flex;
            flex-flow: nowrap row;
            justify-content: space-around;
            gap: 1rem;
        }

        &--addProduct {
            width: 10%;
            text-align: center;
        }
    }
}

.orderTable {
    width: 100%;
    padding: @rythem[standard] 10%;

    &__tableHeader {
        width: 100%;
        padding: @rythem[half];
        background-color: @color__primary--standard;

        &--id,
        &--customer,
        &--name,
        &--rows,
        &--created,
        &--status,
        &--action {
            padding: @rythem[half];
            font-size: @font__size[tableHeader];
            text-align: center;
            color: @color__font--light;
        }

        &--id,
        &--customer {
            width: 5%;
        }

        &--name,
        &--created {
            width: 15%;
        }

        &--rows,
        &--status {
            width: 10%;
        }

        &--action {
            width: 30%;
        }
    }

    &__tableData {
        padding: 0 0 @rythem[quarter];

        &--id,
        &--customer,
        &--rows,
        &--status,
        &--action {
            padding: 0 0 @rythem[quarter];
            text-align: center;
            color: @color__font--dark;
        }

        &--name,
        &--created {
            text-align: left;
        }

        &--actionContainer {
            display: flex;
            flex-flow: nowrap row;
            justify-content: space-between;
            gap: @rythem[half];
        }
    }
}

.orderView__table {
    width: 100%;

    &--row {
        width: 100%;
    }

    &--header {
        padding: 0.25rem;
        font-size: 1.2rem;
        font-weight: @font__weight[subStandard];
        background-color: @color__primary--standard;
        color: @color__font--light;
    }

    &--data {
        padding: @rythem[quarter];

        &--id,
        &--productID,
        &--amount {
            width: 15%;
            text-align: center;
        }

        &--name,
        &--info {
            width: 27.5%;
            text-align: left;
        }
    }
}

.customerTable {
    width: 100%;
    padding: @rythem[standard] 15%;

    &__tableHeader {
        width: 100%;
        padding: @rythem[half];
        background-color: @color__primary--standard;

        &--id,
        &--name,
        &--adress,
        &--email,
        &--phone,
        &--addOrder {
            padding: @rythem[half];
            text-align: center;
            text-transform: uppercase;
            color: @color__font--light;
        }

        &--id { width: 5%; }

        &--name,
        &--phone,
        &--addOrder {
            width: 15%;
        }

        &--email { width: 20%; }

        &--adress { width: 30%; }
    }

    &__tableData {
        padding: @rythem[quarter];

        &--id,
        &--phone { text-align: center; }

        &--name,
        &--adress,
        &--email,
        &--addOrder {
            text-align: left;
        }
    }
}

.activityLog {
    width: 100%;
    padding: @rythem[standard] 15%;

    &__tableHeader {
        width: 100%;
        padding: @rythem[half];
        background-color: @color__primary--standard;

        &--id,
        &--product,
        &--order,
        &--customer,
        &--time,
        &--activity,
        &--before,
        &--after {
            padding: @rythem[half];
            text-align: center;
            text-transform: uppercase;
            color: @color__font--light;
        }

        &--id {
            width: 2.5%;
        }


        &--product,
        &--order,
        &--customer {
            width: 5%;
        }

        &--time,
        &--activity,
        &--before,
        &--after {
            width: 21%;
        }
    }

    &__tableData {
        padding: 0 0 @rythem[quarter];

        &--id,
        &--product,
        &--time,
        &--activity,
        &--before,
        &--after {
            padding: @rythem[quarter];
            text-align: left;
        }

        &--id,
        &--product,
        &--order,
        &--customer {
            text-align: center;
        }

        &--time,
        &--activity,
        &--before,
        &--after {
            text-align: left;
        }
    }
}
